body {
	background: rgb(75,130,255);
	background: radial-gradient(circle, rgba(75,130,255,1) 0%, rgba(222,237,255,1) 100%);
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table th, td {
	border: 0px solid black;
  padding: 10px;
}
a:link, a:visited {
  background: white;
  color: black;
  border: 0px solid black;
  border-radius:7px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background: black;
  color: white;
}